<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Auth0App</a>
      
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link active" aria-current="page" [routerLink]="['home']">Home</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['precios']">Precios</a>
          </li>
          <li class="nav-item" *ngIf="isLogin" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['protegida']">Protegida</a>
          </li>
        </ul>
        <span class="navbar-text">
      
        <button type="button"  (click)="login()"  *ngIf="!isLogin" class="btn btn-outline-primary">Login</button>
        <button  type="button" (click)="logout()"  *ngIf="isLogin"  class="btn btn-outline-danger">Salir</button>
       
        <!-- <button type="button" (click)="auth.loginWithRedirect()"  class="btn btn-outline-primary">Login</button> -->
        <!-- <button  (click)="auth.logout"  *ngIf="auth.isAuthenticated$"  class="btn btn-outline-danger">Salir</button> -->
         <!-- <button (click)="auth.loginWithRedirect()">Log in</button> -->

         <!-- <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
          <button (click)="auth.logout({ returnTo: document.location.origin })">
            Log out
          </button>
        </ng-container>
    
        <ng-template #loggedOut>
          <button (click)="auth.loginWithRedirect()">Log in</button>
        </ng-template> -->
      </span>
      </div>
    </div>
  </nav>
