<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Favatars.githubusercontent.com%2Fu%2F2824157%3Fs%3D200%26v%3D4&f=1&nofb=1" alt=""  height="120">
    <h1 class="display-5 fw-bold">Login Auth0</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">This is an auth0 app to test login</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <!-- <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button> -->
      </div>
    </div>
  </div>
